aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.11.18
aiosignal==1.3.2
annotated-types==0.7.0
anyio==3.7.1
appdirs==1.4.4
asgi-csrf==0.11
asgiref==3.8.1
attrs==25.3.0
audioop-lts==0.2.1
autocommand==2.2.2
backports.tarfile==1.2.0
blinker==1.9.0
certifi==2025.1.31
charset-normalizer==3.4.1
click-default-group-wheel==1.2.3
click-default-group==1.2.4
click==8.1.8
datasette==0.64.3
discord-py==2.5.2
distro==1.9.0
docker-pycreds==0.4.0
flask==3.1.0
flexcache==0.3
flexparser==0.4
frozenlist==1.6.0
gitdb==4.0.12
gitpython==3.1.44
h11==0.14.0
httpcore==1.0.8
httpx==0.28.1
hupper==1.12.1
idna==3.10
importlib-metadata==8.0.0
inflect==7.3.1
itsdangerous==2.2.0
janus==2.0.0
jaraco.collections==5.1.0
jaraco.context==5.3.0
jaraco.functools==4.0.1
jaraco.text==3.12.1
jinja2==3.1.6
markupsafe==3.0.2
mergedeep==1.3.4
more-itertools==10.3.0
multidict==6.4.3
numpy==1.26.4
openai==1.1.1
packaging==24.2
pint==0.24.4
pip==25.0
platformdirs==4.3.7
pluggy==1.5.0
propcache==0.3.1
protobuf==4.25.6
psutil==7.0.0
pydantic-core==2.33.1
pydantic==2.11.3
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
python-multipart==0.0.20
pyyaml==6.0.2
requests==2.32.3
sentry-sdk==2.26.1
setproctitle==1.3.5
setuptools==79.0.0
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
sqlite-fts4==1.0.3
sqlite-utils==3.36
tabulate==0.9.0
tomli==2.0.1
tqdm==4.67.1
typeguard==4.3.0
typing-extensions==4.13.2
typing-inspection==0.4.0
urllib3==2.4.0
uvicorn==0.34.2
wandb==0.16.3
werkzeug==3.1.3
wheel==0.45.1
yarl==1.20.0
zipp==3.19.2